aioboto3
aiohttp

# database packages
graspologic
nano-vectordb
neo4j
networkx
ollama
openai
oracledb
pymilvus
pymongo
# lmdeploy[all]
sqlalchemy
tenacity

# LLM packages
tiktoken
transformers
PyYAML
